
<h3>Welcome <%= @user.email %>!</h3>

<h3>You've backed $<%= @total_spent %> in total on projects! </h3>

<h3>Here are all the projects you've backed:</h3>
<%= render partial: 'projects/project', collection: @projects %>

<div class="comments">
  <%= render partial: "comments/index", locals: {comments: @user.comments}  %>
  <%= render partial: "comments/form", locals: {commentable: @user} %>
</div>