
<h3>Welcome to <%= @user.email %>'s profile page!</h3>

<h3>Following projects are currently set up buy the user: </h3>
<div>
  <% @user.projects.each do |project| %>
  <h4><%= project.title %></h4>
  <p><%= project.description %></p>
  <p><%= project.goal %></p>
  <% end %>
</div>

<div class="comments">
  <%= render partial: "comments/index", locals: {comments: @user.comments}  %>
  <%= render partial: "comments/form", locals: {commentable: @user} %>
</div>