<div class="project">

    <p><%= project.title %></p>
    <p><%= project.description %></p>
    <p><%= project.start_date %></p>
    <p><%= project.end_date %></p>
    <p><%= project.goal %></p>
    <p><%= project.raised %></p>

</div>