
<div class="project">

    <p><%= link_to project.title, project_path(project) %></p>
    <p><%= project.description %></p>
    <p>Start: <%= project.start_date %></p>
    <p>End: <%= project.end_date %></p>
    <p>Goal: <%= project.goal %></p>
    <p>Amount raised: <%= project.raised %></p>

    <p>Time remaining: <%= [(project.end_date - Date.today).to_i,0].max %></p>  

    <% if project.user == current_user %>

        <p> <%= link_to 'Edit', edit_project_path(project) %> </p>

    <% end %>

</div>